.header img{
    height: 75px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 41px;
    font-size: 20px;
} 
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: gray;
}